@model IEnumerable<bd1.Models.Empleado>

<p>
    <h4>Empleado que realiza el envio: </h4>
    <select name="empleadoE" id="empleadoE">
        @foreach (var item in Model)
        {
            <option value="@item.CI">
                @item.Nombre @item.Apellido
            </option>
        }
    </select>
</p>


