@model bd1.Models.Empleado

    <h3>Informacion del Empleado</h3>
    <p>
        <input class="form-control" name="ciS" type="text" placeholder="Cedula">
    </p>
    <p>
        <input class="form-control" name="nombre" type="text" placeholder="Nombre">
    </p>
    <p>
        <input class="form-control" name="apellido" type="text" placeholder="Apellido">
    </p>
    <p>
        <h5>Fecha de Nacimiento:</h5>
        <input class="form-control" name="fechaNac" type="date" placeholder="Fecha de Nacimiento">
    </p>
    <p>
        <input class="form-control" name="correo" type="text" placeholder="Correo">
    </p>
    <p>
        <input class="form-control" name="nivelAca" type="text" placeholder="Nivel Academico">
    </p>
    <p>
        <input class="form-control" name="profesion" type="text" placeholder="Profesion">
    </p>
    <p>
        <select name="estCivil" id="estCivil">
            <option value="Soltero">
                Soltero/a
            </option>
            <option value="Casado">
                Casado/a
            </option>
            <option value="Divorciado">
                Divorciado/a
            </option>
            <option value="Viudo">
                Viudo/a
            </option>
        </select>
    </p>
    <p>
        <input class="form-control" name="cantHijos" type="text" placeholder="Cantidad de Hijos">
    </p>
    <p>
        <input class="form-control" name="correoEmp" type="text" placeholder="Correo Empresa">
        <span class="inline">@@LogUCAB.com</span>
    </p>
     <p>
        <input class="form-control" name="horarioAsig" type="text" placeholder="Horario Asignado">
    </p>
    <p>
        <input class="form-control" name="salarioAsig" type="text" placeholder="Salario Asignado">
    </p>
    <p>
        <h5>Fecha Contratado:</h5>
        <input class="form-control" name="fechaContratado" type="date" placeholder="Fecha Contratado">
    </p>
    <p>
        <h5>Fecha Despido (Opcional):</h5>
        <input class="form-control" name="fechaFinal" type="date" placeholder="Fecha Despido">
    </p>

