@model IEnumerable<bd1.Models.Horario>

<p>
    <h4>Horario: </h4>
    <select name="horarioI" id="horarioI">
        @foreach (var item in Model)
        {
        <option value="@item.cod">
            @item.horarioInicio - @item.horarioFin
        </option>
        }
    </select>
</p>

