@model IEnumerable<bd1.Models.Rol>

<p>
    <h4>Rol: </h4>
    <select name="rol" id="rol">
        @foreach (var item in Model)
        {
            <option value="@item.COD">
                @item.Nombre
            </option>
        }
    </select>
</p>
