@model bd1.Models.Rol

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("MenuSuperior", new { viewba = ViewBag.name });
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>ROLES</b></p>
</div>
<div class="jumbotron">
    <h2>Eliminando Rol</h2>
    <br />
    @using (Html.BeginForm("EliminarRol", "Rol",
    FormMethod.Post))
    {
        <p>
            @Html.TextBoxFor(m => m.COD, new { @class = "form-control", placeholder = "Codigo del Rol" })
        </p>
        <div>
            <input type="submit" value="Eliminar" />
            <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexRol", "Rol")'" />
        </div>
    }
</div>

