@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <p>SISLog UCAB es la empresa líder de envíos nacionales e internacionales con sede principal en Caracas, Venezuela. Su meta es la de proporcionar el servicio más eficiente y amigable con el medio ambiente</p>
    <p>La empresa provee envíos tanto terrestres, como aéreos y marítimos</p>
    <p>
        SEDE PRINCIPAL: Urb. Montalbán, Universidad Católica Andrés Bello, Edif. De
        Laboratorios, Piso 2, Escuela de Ing. Informática.
    </p>
    <p>PAÍSES DONDE LLEGAMOS: América Latina, España, Portugal y Francia.</p>
    <h3>FLOTA DE AVIONES: </h3>
    <p>2 Boeing 757-200s. </p>
    <p>3 Airbus A300 - 600s </p>

    <p>Contamos con un buque carguero y 3500 vehículos de transporte terrestre a nivel nacional e internacional.</p>

    <p>Poseemos muchas agencias en todo el territorio nacional</p>
</div>