@model bd1.Models.Persona

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>




    <div class="jumbotron">
        <h1>Bienvenido/a a SISLOG UCAB</h1>


        @using (Html.BeginForm("insertar", "Prueba", FormMethod.Post))
        {
            <p>
                @Html.TextBoxFor(m => m.ci, new { @class = "form-control", placeholder = "ci" })
            </p>
            <p>
                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", placeholder = "nombre" })
            </p>

            <div>
                <input type="submit" value="Entrar" />
                
                <input type="button" value="Registrarse" onclick="location.href='@Url.Action("Registro", "Register")'" />

                <input type="button" value="PRUEBA" onclick="location.href='@Url.Action("PruebaTabla", "Prueba")'" />
            </div>


        }

        <div>

        </div>

        <p>¿No eres empleado? Haz click aquí</p>
    </div>

</body>
