
@{
    ViewBag.Title = "PruebaTabla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PruebaTabla</h2>

<body>




    <div class="jumbotron">
        <h1>Bienvenido/a a PRUEBA</h1>

    </div>

</body>

