@model IEnumerable<bd1.Models.Oficina>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px">
        <b>
            Promedio de paquetes diarios por oficina.
        </b>
    </p>
</div>

<br />
<div class="jumbotron">
    <div>
        <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexReporte", "Reporte")'" />
    </div>
    <br />
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Codigo de Oficina
                </th>
                <th>
                    Oficina
                </th>
                <th>
                    Promedio de paquetes por dia
                </th>
            </tr>
        </thead>
        @foreach (var envio in Model)
        {
            <tr>
                <td>
                    <p>@envio.cod</p>
                </td>
                <td>
                    <p>@envio.nombre</p>
                </td>
                <td>
                    <p>@envio.pesoProm</p>
                </td>
            </tr>
        }
    </table>
</div>


