@model IEnumerable<bd1.Models.Empleado>

@{
    ViewBag.Title = "Homempleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>Listado de Empleado con las Asistencias</b></p>
</div>

<br />
<div class="jumbotron">
    <div>
        <input type="button" value="Regresar" onclick="location.href='@Url.Action("IndexReporte", "Reporte")'" />
    </div>
    <br />
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Cedula
                </th>
                <th>
                    Empleado
                </th>
                <th>
                    Fecha de Asistencia
                </th>
            </tr>
        </thead>
        @foreach (var empleado in Model)
        {
            <tr>
                <td>
                    <p>@empleado.CI</p>
                </td>
                <td>
                    <p>@empleado.Nombre</p>
                </td>
                <td>
                    <p>@empleado.horario</p>
                </td>
            </tr>
        }
    </table>
</div>





