.hola {
    background-color: snow;
    display: inline-flex;
    list-style: none;
    padding: 25px;
    width: 100%;
    text-decoration: underline;
    
}

.foot{
    margin-top: 0.5%;
}


.imagen{
    display: block;
    margin-left:20%;
    
}
