@model IEnumerable<bd1.Models.Cliente>


@{
    ViewBag.Title = "HomeCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string name = ViewBag.name;
    
}


@Html.Action("MenuSuperior", "Cliente", new { viewba = ViewBag.name});
<div>
    <p style="background-color: lightgray; color: black; padding: 15px; font-size: 20px"><b>CLIENTES</b></p>
</div>

@using (Html.BeginForm("BuscarCliente", "Cliente",
           FormMethod.Post))
{
    @Html.Action("TBCliente", "Cliente");
    <input type="submit" value="Buscar" />
    <input type="button" style="float:right" value="Eliminar Cliente"
           onclick="location.href='@Url.Action("EliminarCliente", "Cliente")'" />
    <input type="button" style="float:right; margin-right:1%" value="Agregar Cliente"
           onclick="location.href='@Url.Action("AgregarCliente", "Cliente")'" />
}
<br />
<div class="jumbotron">
    <table class="table table-bordered table-hover" style="border-spacing:5px;">
        <thead style="background:lightgray">
            <tr>
                <th>
                    Cedula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
            </tr>
        </thead>



    </table>
</div>



